<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 0; padding-right: 10px">
            <div class="card">
                <h5>Cases</h5>
                <p>{{__confirmed}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 0; padding-right: 10px">
            <div class="card">
                <h5>Deathes</h5>
                <p>{{__deaths}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding: 0; padding-right: 10px">
            <div class="card">
                <h5>Recovered</h5>
                <p>{{__recovered}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <select name="countries" id="countries">
            <option value="Countries">world Wide</option>
            {{!-- <option value="Countries">Countries</option>
            <option value="Countries">Countries</option>
            <option value="Countries">Countries</option>
            <option value="Countries">Countries</option>
            <option value="Countries">Countries</option>
            <option value="Countries">Countries</option>
            <option value="Countries">Countries</option> --}}
        </select>
    </div>
</div>